{{log this}}
{{#if return_date}}

<div class="row m-0 card-body">  
      <div class="col-2 "><p>{{format_date borrow_date}}</p></div>
      <div class="col-2"><p>{{format_date return_date}}</p></div>
      <div class="col-3 text-truncate"><p>{{item.item_name}}</p></div>
      <div class="col-5 text-truncate"><p>{{item.item_description}}</p></div>
</div>

{{/if}}