{{log this}}
  <tr>
    <td>{{id}}</td>
    <td>{{item.item_name }} </td>
    <td>{{item_id}} </td>
    <td>{{item.item_description}} </td>
    <td>{{format_date borrow_date}}</td>
    <td>{{format_date return_date}}</td>       
    
  </tr>  
