{{#if return_date}}
<div></div>
{{else}}
<div class="row m-0 card-body">   
      <div class="col-2 text-truncate"><p>{{item.item_name}}</p></div>
      <div class="col-4 text-truncate"><p>{{item.item_description}}</p></div>
      <div class="col-3 "><p>{{format_date borrow_date}}</p></div>
      <div class="col-2 text-center"><button data-id="{{id}}" type="submit" class="btn btn-sm m-0 btn-danger end-transaction-btn">Return</button></div>
</div>

{{/if}}
