{{log this}}
<div class="row m-0 card-body">
      <div class="col-1"><p>{{id}}</p></div>
      <div class="col-3"><p>{{item.item_name}}</p></div>
      <div class="col-3"><p>{{item.item_description}}</p></div>
      <div class="col-3 text-truncate"><p>{{format_date borrow_date}}</p></div>
      <div class="col-2"><button class="btn btn-sm m-0 btn-danger">Return</button></div>

</div>
