{{log this}}
<tr>
    <td>{{id}}</td>
    <td>{{format_date borrow_date}}</td>
    <td>{{format_date return_date}}</td>
    <td>{{employee.id}}-{{employee.first_name}}</td>
    <td>{{item_id}} - {{ item.item_name }}</td>
</tr>
