<div class="row m-0 ps-5 py-3 fw-light"><p class="fs-3 m-0 p-0">All Transactions</p></div>
<div class="row m-0 ps-5 pt-5 fw-light"><p class="m-0 p-0">Transaction records:</p></div>
<div class="card shadow-sm chart mx-5 mt-4">
  <div class="row card-header m-0">
<<<<<<< HEAD
    <div class="col-1 border-end"><p>ID</p></div>
        <div class="col-2 border-end"><p>Category</p></div>
=======
    <div class="col-1 border-end"><p>#</p></div>
    <div class="col-2 border-end"><p>Category</p></div>
>>>>>>> a6bf0caebd35ce6d4e70bd58e8055510fc78e45d
    <div class="col-2 border-end"><p>Item Name</p></div>
    <div class="col-2 border-end"><p>Borrow Date</p></div>
    <div class="col-2 border-end"><p>Return Date</p></div>
    <div class="col-2 " ><p>Borrower</p></div>
  </div>
  {{#each transactionData}}
  <div class="row m-0 card-body">
      <div class="col-1 text-truncate"><p>{{id}}</p></div>
      <div class="col-2 text-truncate"><p>{{item.category.name}}</p></div>
      <div class="col-2 text-truncate"><p>{{item.item_name}}</p></div>
      <div class="col-2 text-truncate"><p>{{format_date borrow_date}}</p></div>
      <div class="col-2 "><p>{{format_date return_date}}</p></div>
      <div class="col-2 "><p>{{employee.first_name}} {{employee.last_name}}</p></div>

  </div>
{{/each}}

</div>

